h1, h2, h3, h4, h5, h6
  font-weight: 700
  line-height: 1
  margin: 0

h1
  font-size: 40px
h2
  font-size: 30px
h3
  font-size: 20px
h4
  font-size: 18px
h5
  font-size: 16px
h6
  font-size: 14px


p
  line-height: 1.5em
  margin: 0 0 1.5em 0
a
  color: #333
  &:hover
    color: #000

%highlight
  display: inline-block
  margin: 0
  background: white
  display: inline-block
  padding: 6px
  a
    text-decoration: none
